<% 
  fragebogen = @measurement.assessment.test
  test_length = fragebogen.content_items.length
  cat_abbrev = fragebogen.get("categories")
  group = @measurement.assessment.group_id
  difficulty = Item.where(:test_id => fragebogen.id).first.difficulty
%>
<h1 class="text-center"><%= fragebogen.name + " - " + fragebogen.level%></h1>
<div class="row" style="font-size: 18px; padding-left: 10px;">
	Dieser Fragebogen bezieht sich auf das Verhalten der Schülerin bzw. des Schülers im Klassenraum während eines Unterrichtstages oder eines Beobachtungszeitraumes. Ziel ist es, mehrere vergleichbare Verhaltenseinschätzungen mit dem DBR zu bewerten. Dafür sollten die verschiedenen Beobachtungsräume gleich lang sein. Bitte beurteilen Sie die für die Schülerin bzw. den Schüler relevanten Punkt im letzten Beobachtungszeitraum (Maximal ein Unterrichtstag).
</div><br>
<br>
<div class="row" style=" padding-left: 10px;">
  <h2 id="hinweis"></h2>
</div>
<div class="row" >
  <div class="col-sm-offset-4" style="font-size: 16px;">
    <label class="col-sm-offset-1">Nie(1)</label>
    <label  class="col-sm-offset-4">Immer(7)</label>
  </div>
<%= form_tag(url_for(:controller => 'questionnaires', :action => 'save_results'), :class => "form") do %>
<% actual_cat = "." %>
  <% (1..test_length).each do |x| %>
    <% if cat_abbrev[x-1] != actual_cat %>
      <div class="row" style="font-size: 30px; padding-left: 25px; "> <%= actual_cat = cat_abbrev[x-1] %></div><br>
    <% end %>
    <div class="form-group row" style="font-size: 20px; padding-left: 30px;" >
      <div class="col-sm-4">
        <label class="col-form-label" id="item<%=x%>" ><%= x %></label>
      </div>
      <div class="col-sm-8 form-check form-check-inline">
      <% (1..difficulty).each do |i| %>
        <div class="col-sm-1"><%= i %> <%= radio_button_tag  x.to_s, i.to_s%> &nbsp &nbsp</div>
      <% end %>
      </div>
    </div>
  <% end %>
  <div class="row text-center" style="margin-bottom: 25px">
    <div class="col-md-12">
      <%= submit_tag 'Speichern', :class => "btn btn-primary btn-lg" %>
    </div>
  </div>
<%end %>
 
<script>
    var currentStudentName= "<%= @student.login %>";
  var realCurrentStudent= "<%= @student.id%>";
  var studentsCrypt = JSON.parse(sessionStorage['students']);

  //Enough to prevent possible race condition?
  $(document).ready(function () {
      //check first if class exist in hash
      if("<%=group%>" in studentsCrypt){
          Object.keys(studentsCrypt["<%=group%>"]).forEach(function(keyStudent) {
              $('#'+ keyStudent).html(studentsCrypt["<%=group%>"][keyStudent]);
          });
      }
  })
  var items = {
  	<% @measurement.assessment.test.items.each do |i| %>
  	<%= i.id %> : "<%= i.itemtext.split(';')[0] %>",
  	<% end %>
  };

  var i = 1;
  for (key in items){
  	if(items[key] == "hallo")
  		delete items[key]
  	else{
		document.getElementById('item'+i).innerHTML = i + ")  "+items[key];
	  	i = i+1;
  	}
  }
  document.getElementById('hinweis').innerHTML = "Sie füllen den Fragenbogen für <strong>"+ studentsCrypt["<%=group%>"][realCurrentStudent] +"</strong> aus.<br> ";
</script> 