<% test =Test.find(key) %>
<% items = @student.getTestResults(key) %>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="h<%=key%>">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" href="#c<%=key%>" aria-expanded="false" aria-controls="c<%=key%>">
        <%= test.short_name%>
      </a>
    </h4>
  </div>

  <div id="c<%=key%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="h<%=key%>">
    <div class="panel-body" <% unless online %>style="width: 790px"<% end %>>

      <% if online %>
        <div class="dropdown text-right" id="p<%=key%>">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuPrint" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-print" style="color:#337AB7"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuPrint">
            <li><%= link_to "Alles", user_group_student_path(@user, @group, @student , format: 'pdf', :test => key), :target => "_blank"%></li>
            <li><%= link_to "Nur Graph", user_group_student_path(@user, @group, @student , format: 'pdf', :without_table => true, :test => key), :target => "_blank"%></li>
          </ul>
        </div>
      <% end %>

      <div id="chart<%=key%>" style="width: 100%" >
      </div>
      <div id="table<%=key%>">
      <% if test.subject != "Fragebogen" %>
        <p>
          <b>Höchste Lösungswahrscheinlichkeit (viertes Quartil):</b>
          <% if val.size < 3 %>
              -
          <% else %>
              <% first = true %>
              <% test.items.each do |i| %>
                  <% if items["data"].has_key?(i.id.to_s) && items["data"][i.id.to_s]["prob"] > items["4th"] %>
                      <% unless first %>
                          <%= ", " %>
                      <% end %>
                      <% first = false %>
                      <%= i.shorthand %>
                  <% end %>
              <% end %>
              <% if first %> - <% end %>
          <% end %>
        </p>
        <p>
          <b>Geringste Lösungswahrscheinlichkeit (erstes Quartil):</b>
          <% if val.size < 3 %>
              -
          <% else %>
              <% first = true %>
              <% test.items.each do |i| %>
                  <% if items["data"].has_key?(i.id.to_s) && items["data"][i.id.to_s]["prob"] < items["1st"] %>
                      <% unless first %>
                          <%= ", " %>
                      <% end %>
                      <% first = false %>
                      <%= i.shorthand %>
                  <% end %>
              <% end %>
              <% if first %> - <% end %>
          <% end %>
        </p>
        <% end %>
        <% unless without_table %>
        <!-- just for questionnaire -->
            <% if test.subject == "Fragebogen" %>
            <% colors = [ '#208e38', '#ff0707','#2196F3', '#E040FB','#009688', '#FF9800',
                      '#F44336'] %>
                  <table class="table table-bordered table-striped text-center">
                  <thead>
                    <th></th>
                    <!-- Show the categories in the first header line in the table -->
                    <% categories = test.get("categories")%>
                    <% color = -1 %>
                    <% categories.uniq.each do |x| %>
                      <th colspan="<%= categories.count(x) + 1%>" style="color:<%= colors[color+=1] %>" >
                        <div" "><span><%= x %></span></div>
                      </th>  
                    <% end %>
                  </thead>
                  <thead>
                  <th>Zeitpunkt</th>
                  <% cat_abbrev = test.get("cat_abbrev") %>
                  <% cat = cat_abbrev[0]%>
                  <% itemsA = test.content_items %>
                  <% itemsHash = itemsA.map{|x| x.attributes.symbolize_keys} %>
                  <!-- show the headers, e.g. Wut, Klassenregeln, etc.  -->
                  <% for it in 0..itemsA.length - 1 %>
                    <!-- cat to show the sum of items of each category -->
                    <% if cat != cat_abbrev[it]%> 
                        <th data-toggle="tooltip" title="" >
                          <div><span><%= cat %></span></div>
                        </th >
                        <% cat = cat_abbrev[it] %>
                    <% end %>

                    <th data-toggle="tooltip" title="<%= itemsHash[it][:itemtext].split(';')[0] %>" >
                      <div><%= itemsHash[it][:shorthand] %></div>
                    </th>
                    <% if it == itemsA.length - 1 %> <!-- just for the last one  -->
                        <th data-toggle="tooltip" title=""><%= cat %></th>
                    <% end %>
                  <% end %>
                  <!-- end of displaying the headers -->
                  </thead>

                  <tbody>
                  <% val.sort_by {|x| x.measurement.date}.each do |r| %>
                      <% unless r.score.nil? %>
                          <tr>
                              <td><%= r.measurement.date.to_date.strftime("%d.%m.%Y")%></td>
                              <!-- For student view of DBR the items should be original without recoding, so here they will be recoded for -->
                              <!-- the second time, thus we get the original values without changes -->
                              <!-- For the PIQ the items shouldn't be recoded for the second time -->
                              <!-- Change on 07.11: all student views should be recoded not just DBR -->
                              <% responses = r.responses.map { |e| e} %>
                              <% responses = r.recodeDBR(responses) %> 
                              <!-- 
                              <% if test.shorthand == "FB" %>  FB is shorthand of DBR 
                              <% end %> 
                              -->
                              <% sum = 0 %>
                              <% cat_abbrev = test.get("cat_abbrev") %>
                              <% current_cat = cat_abbrev[0] %>
                              <% num_of_cat_items = 0 %>
                              <% for i in 0..r.items.size-1 do %>
                                <!-- print out the sum of each group -->
                                <% if current_cat != cat_abbrev[i] %>
                                  <td style="font-weight: bold"><%= r.mean_cat(current_cat) %></td>
                                  <% sum = 0 %>
                                  <% num_of_cat_items = 0 %>
                                  <% current_cat = cat_abbrev[i] %>
                                <% end %>

                                <!-- just to sum the number of answered items -->
                                <% if responses[i] > 0 %>
                                  <% num_of_cat_items +=1 %>
                                <% end %>

                                <!-- print out values of items -->
                                <% sum = sum + responses[i].to_i %>
                                <td><%= responses[i] %></td>  
                                
                                <!-- sum of the last one -->
                                <% if i == r.items.size - 1 %>
                                  <td style="font-weight: bold"><%= r.mean_cat(current_cat) %></td>
                                <% end %>

                              <% end %>

                          </tr>
                      <% end %>
                  <% end %>
                  </tbody>
                </table>
          <!-- all tests except questionnaires -->
          <% else %> 
             <table class="table table-striped">
                <thead>
                <th>
                  Zeitpunkt
                </th>
                <th>
                  Richtig gelöste Items
                </th>
                <th>
                  Falsch gelöste Items
                </th>
                <th>
                  Anzahl richtig gelöster Items
                </th>
                <th>
                  Anzahl falsch gelöster Items
                </th>
                <th>
                  Lösungswahrscheinlichkeit in %
                </th>
                </thead>
                <tbody>
                <% val.sort_by {|x| x.measurement.date}.each do |r| %>
                    <% unless r.score.nil? %>
                        <tr>
                          <td>
                            <%= r.measurement.date.to_date.strftime("%d.%m.%Y")%>
                          </td>
                          <td>
                            <% first = true %>
                            <% for i in 0..r.items.size-1 do %>
                                <% if r.responses[i] ==  1 %>
                                    <% unless first %>
                                        <%= ", " %>
                                    <% end %>
                                    <% first = false %>
                                    <%= Item.find(r.items[i]).shorthand %>
                                <% end %>
                            <% end %>
                          </td>
                          <td>
                            <% first = true %>
                            <% for i in 0..r.items.size-1 do%>
                                <% if r.responses[i] ==  0 %>
                                    <% unless first %>
                                        <%= ", " %>
                                    <% end %>
                                    <% first = false %>
                                    <%= Item.find(r.items[i]).shorthand %>
                                <% end %>
                            <% end %>
                          </td>
                          <td>
                            <%= r.count_1 %>
                          </td>
                          <td>
                            <%= r.count_0 %>
                          </td>
                          <td>
                            <%= (r.total * 100).round(1)%>
                          </td>
                        </tr>
                    <% end %>
                <% end %>
                </tbody>
              </table>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>