<div class="jumbotron">
  <h1><%= image_tag('Levumi-klein-blau.png', size: "120")%> Levumi Testsystem TU Dortmund </h1>
  <h3>Lernverlaufs-Monitoring</h3>
  <br/>
  <%= form_tag(url_for(controller: 'application', action: 'login'), class: 'form', id: 'loginForm') do %>
      <div class="form-group">
        <label class="sr-only" for="email">Email-Adresse</label>
        <%= text_field_tag 'email', nil, type: 'email', class: 'form-control', placeholder: 'E-Mail Adresse'%>
      </div>
      <div class="form-group">
        <label class="sr-only" for="password">Passwort</label>
        <%= text_field_tag 'password', nil, type: 'password', class: 'form-control', id: 'password', placeholder: 'Passwort'%>
      </div>
      <%= submit_tag 'Einloggen', class: 'btn btn-primary', id: 'submitButton' %>
  <% end %>
  <br/>
  <p>
    <strong>Achtung</strong>: Diese Plattform ist nur für Forschungszwecke von Universitäten geeignet.
    <br>
    Als Lehrkraft oder Eltern nutzen Sie bitte die offizielle Levumi-Homepage <a href="https://www.levumi.de">hier</a>
  </p>
  <br/>
  <p>
    Für eine fehlerfreie Darstellung, verwenden Sie bitte einen <a href="http://www.browsehappy.com">modernen Browser</a> (z.B. Mozilla Firefox).<br/>
    Erlauben Sie bitte außerdem Cookies und Popups für diese Seite!
  </p>
</div>

<script>
    sessionStorage.clear();
    $(function() {
        $('#submitButton').click(function (e) {
            e.preventDefault();
            sessionStorage['encryptKey'] = $('#password').val();
            $('#loginForm').submit();
        })
    });
</script>
